:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 430px;
    height: 932px;
    margin: 0 auto;
    font-size: 0px;
    background: #a5cdc8;
    overflow: hidden;
}
.text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 161px;
    height: 24px;
    margin: 44px 0 0 25px;
    color: #ffffff;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 1;
}
.box {
    position: relative;
    width: 430px;
    height: 877px;
    margin: 42px 0 0 0;
    font-size: 0px;
    background: #ffffff;
    overflow: visible auto;
    border-radius: 25px;
}
.text-2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 121px;
    height: 24px;
    margin: 37px 0 0 155px;
    color: #27292f;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 2;
}
.text-3 {
    display: block;
    position: relative;
    height: 24px;
    margin: 54px 0 0 40px;
    color: #27292f;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 4;
}
.text-4 {
    display: block;
    position: relative;
    height: 24px;
    margin: 16px 0 0 55px;
    color: #c0c0c0;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 5;
}
.text-5 {
    display: block;
    position: relative;
    height: 24px;
    margin: 25px 0 0 40px;
    color: #27292f;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 7;
}
.box-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 324px;
    height: 24px;
    margin: 16px 0 0 55px;
    z-index: 16;
}
.text-6 {
    flex-shrink: 0;
    position: relative;
    height: 24px;
    color: #c0c0c0;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 8;
}
.img {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    background: url(./assets/images/007e50a0-e634-4914-9f01-efb245c0f96b.png)
        no-repeat center;
    background-size: cover;
    z-index: 16;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 143px;
    height: 24px;
    margin: 53px 0 0 40px;
    z-index: 17;
}
.text-7 {
    flex-shrink: 0;
    position: relative;
    height: 24px;
    color: #c0c0c0;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 9;
}
.pic {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    background: url(./assets/images/2b3c0f42-87a5-4826-9a1e-9c2b3aa1d390.png)
        no-repeat center;
    background-size: cover;
    z-index: 17;
}
.box-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 361px;
    height: 57px;
    margin: 25px 0 0 35px;
    background: #ffac60;
    z-index: 15;
    border-radius: 25px;
}
.text-8 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 71px;
    height: 24px;
    color: #27292f;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 15;
}
.box-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 273px;
    height: 24px;
    margin: 42px 0 0 79px;
    z-index: 11;
}
.text-9 {
    flex-shrink: 0;
    position: relative;
    height: 24px;
    color: #c0c0c0;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 10;
}
.text-a {
    flex-shrink: 0;
    position: relative;
    height: 24px;
    color: #ffac60;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 11;
}
.text-b {
    display: block;
    position: relative;
    height: 24px;
    margin: 54px 0 0 166px;
    color: #c0c0c0;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-decoration: underline;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 18;
}
